html {
    scroll-behavior: smooth;
}

.heading {
    position: relative;
    top: 130px;
}

.first {
    /* position: relative; */
    height: 800px;
    width: 100%;
}

.container {
    background-color: blanchedalmond;
    border: 30px solid gray;
    padding-bottom: 150px;
    width: 500x;
    font-family: 'Montserrat', sans-serif;
}

.second {
    padding: 5px 5px;
    height: 300px;
    float: right;
}

.third {
    padding: 5px 5px;
    height: 300px;
    float: right;
}

.fourth {
    padding: 5px 5px;
    height: 300px;
    float: right;
}

.text-field_1 {
    font-size: 21px;
}

.text-field_2 {
    font-size: 21px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price {
    padding-left: 40px;
}

h3 {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    /* color: white; */
}

.navbar {
    background-color: darkgray;
    border-radius: 36px;
}

.navbar ul {
    overflow: auto;
    padding: 5px 5px;
}

.navbar li {
    float: right;
    list-style: none;
    margin: 13px 20px;
}


/* .cp {
    width: 350px;
}

.location_icon {
    height: 50px;
}

.email_icon {
    height: 50px;
}

.email_id {
    float: right;
}

.call_icon {
    height: 50px;
}

.line {
    width: 350px;
}

.fb_icon {
    height: 40px;
}

.insta_icon {
    height: 40px;
}

.twitter_icon {
    height: 40px;
}

.youtube {
    height: 40px;
} */

.footer {
    height: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer>div {
    padding: 80px;
}

.top {
    display: flex;
    height: 70px;
    padding: 20px;
    padding: 20px !important;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.bottom {
    padding: 0px !important;
    position: absolute;
    left: 22%;
    bottom: 20%;
}

.cp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.cp>* {
    margin: 0;
    width: inherit;
    padding: 10px;
}

.icons > div {
    display: flex;
}

.icons > div > * {
    padding: 10px
}

.icons {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.socialicons {
    display: flex;
    gap: 20px;
}







